doctype 5
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav
      div.container
        a.navbar-brand(href="/admin")Админка
        - if (locals.logged == 'logged')
            div.nav-collapse.collapse.bs-navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href="/getting-started") News
                li
                  a(href="/admin/users") Users
            p.navbar-text.pull-right
                a.navbar-link(href="/logout") Logout
    div.container
      div.row
        div.col.col-lg-8.col-offset-2!= locals.message
      div.row
        div.col.col-lg-8.col-offset-2
          block content
  footer