body {
  position: relative;
  padding-top: 70px;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#articles .article {
  margin: 20px;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#articles .article .body {
  background-color: #ffa;
}
.article .created_at {
  display: none;
}
.article input[type =text] {
  width: 490px;
  margin-left: 16px;
}
.article input[type =button],
.article input[type =submit] {
  text-align: left;
  margin-left: 440px;
}
.article textarea {
  width: 490px;
  height: 90px;
}
.bs-docs-nav {
  background-color: #b94a48;
}
.bs-docs-nav .navbar-brand {
  color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
  color: #e6cac8;
}
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover {
  color: #fff;
  background-color: #993c3a;
}
.navbar-inverse a.navbar-link {
  color: #fff;
}
