extends ../adminLayout

block content
    div.page-header
        h1: Список пользователей
    table.table.table-hover
      - each u in users
          tr
            td 
              a(href="/admin/users/"+u.id.toHexString())= u.name
            td
              a(href="/admin/users/"+u.id.toHexString()+"/delete") Delete me 
            td= u.createdAt